body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 85vh;
  overflow-y: hidden;
  background-color: Khaki;
}

audio {
  display: none;
}
/*
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
*/

